Deprecated==1.2.18
fastapi==0.119.1
opentelemetry-api==1.38.0
opentelemetry-exporter-jaeger==1.11.1
opentelemetry-exporter-otlp==1.38.0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-instrumentation-logging==0.59b0
opentelemetry-sdk==1.38.0
prometheus-fastapi-instrumentator==7.1.0
uvicorn==0.38.0
pytest==8.4.2
pytest-cov==7.0.0
httpx==0.28.1
pytest-asyncio==1.2.0
